
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root{
  
  --body-background-color: #b0bec5;;
  }


  body{
    background-color: var(--body-background-color);
  }

/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/


/**
* User Card
*/

#user-card{
  background-color: #fff;
  
  
}

#user-card img{
  width: 100px;
  height: 100px;
 
 
}